
button {
    display: block; 
 }

#grid-container {
display: grid;
/*  Need to use a fxn to change the amount of auto's needed */
grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
height: 800px;
width: 800px;

}

.grid-item {
    border: 1px solid red;
    background-color: lightblue;
}
