* {

}

.grid-container {
display: inline-grid;
grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;

}

.grid-item {
    border: 1px solid red;
    height: 40px;
    width: 40px;
    background-color: lightblue;
}